.dark {
  background-color: black;
  color: white;

  svg {
    fill: white;
  }

  .darkModeToggle {
    border: 1px solid white;

    .active {
      background-color: rgb(92, 92, 92);
      border-radius: 20px;
    }
  }
}

svg {
  cursor: pointer;
}

.darkModeToggle {
  display: flex;
  gap: 10px;
  padding: 5px 10px;
  width: fit-content;
  border: 1px solid black;
  border-radius: 20px;

  .active {
    background-color: rgb(136, 136, 136);
    border-radius: 20px;
  }
}
